/* ------ upload.html ----- */
/* --- progress bar css --- */
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 8%;
  height: 30px;
  /* background-color: #04AA6D; */
  background-color:rgb(24, 178, 58);
  text-align: center;
  line-height: 30px;
  color: white;
}

/* UI files name lists */
#file_names_list{
  list-style-type: none;
  color: rgb(23, 61, 101);
}
#file_names_list ul:hover{
  cursor: pointer;
}
#file_names_list li:hover{
  cursor: pointer;
}

/* next and back buttons lists */
.page_toggle_buttons{
  bottom: 10px;
}
.page_toggle_buttons ul{
  list-style-type: none;
  overflow: hidden;
}
.page_toggle_buttons li{
  float: left;
  padding-left: 85%;
  padding-bottom: 0;
}
.page_toggle_buttons a{
  text-decoration: none;
  color:black;
}
.page_toggle_buttons a:hover{
  text-decoration: none;
  color:black;
}
#left_btn{
  padding-left: 0rem;
}
#right_btn{
  padding-top: 0%;
  padding-right: 0rem;
}
