/* ------ upload.html ----- */
/* --- progress bar css --- */
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 8%;
  height: 30px;
  /* background-color: #04AA6D; */
  background-color:rgb(24, 178, 58);
  text-align: center;
  line-height: 30px;
  color: white;
}

/* UI files name lists */
#file_names_list{
  list-style-type: none;
  color: rgb(23, 61, 101);
}

/* next and back buttons lists */
.page_toggle_buttons ul{
  
}
.page_toggle_buttons li{

}