body {
  background-color: #4CAF50;
}
/* --- progress bar css --- */
#Progress_Status {
  width: 50%;
  background-color: #ddd;
}
#myprogressBar {
  width: 2%;
  height: 20px;
  background-color: #4CAF50;
}