<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/main.js"></script>
  <title>upload files</title>
</head>
<body>
  <h2>upload files</h2>
  <div id="myProgress">
    <div id="myBar">10%</div>
  </div>
  <br>
  <form action="/upload result" method="POST" enctype="multipart/form-data">
    <input type="file" name="files[]" multiple="true" id="media"/>
    <input type="button" value="upload" onclick="move()">
    <input type="submit" name="done_btn" value="done">
  </form>
  <ul id="file_names_list">
    {% for uploaded_file in uploaded_files %}
      <li class="list_item" id="list_item">
        {{ uploaded_file }}
        <input type="reset" value="delete" onclick="delete_file(this)">
      </li>
    {% endfor %}
  </ul>

  <ul class="page_toggle_buttons">
  <li><input type="button" value="next"></li>
  <li><input type="button" value="back"></li>
  </ul>
</body>
</html>