<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css link -->
  <link rel="stylesheet" href="main.css">
  <title>upload - FILES DEVIDER</title>
</head>
<body>
<form enctype="multipart/form-data" action="/upload" method="post">
  <h3>
    upload files here...
    <sup>&#9432;</sup>
  <input type="file" nale="file">  
  <input type="submit" value="upload">
  </h3>
</form>
</body>
</html>